body {
  font-family: 'Anaheim';
  width: 500px;
  border: 1px solid rgba(163, 162, 162, 0.6);
  border-radius: 5%;
  box-shadow: 10px 10px rgba(3, 3, 3, 0.8);
  margin: 3px auto;
  background-color: #fcc205;
}

.main {
  color: #020202;
  background-color: white;
  width: 94%;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
  padding-left: 3%;
}

h3 {
  font-size: 36px;
  text-align: right;
  margin: 20px 10px 0px 0px;
}

.logo {
  width: 30%;
  margin-top: 20px;
  border-radius: 5%;
  background-image: url(logo.png);
  background-size: contain;
  background-repeat: no-repeat;
}

header {
  height: 50px;
  margin-bottom: 20px;
  border-radius: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}
.after-header{
  height: 150px;
  margin-bottom: 10px;
  border-radius: 3%;
  background-image: url(header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.cont {
  background-color: rgba(3, 3, 3, 0.6);
  width: 100%;
  margin: 0 auto;
  color: white;
  text-align: center;
  height: 100%;
  font-size: 40px;
}
.first {
  background-color: rgb(214, 216, 218);
  height: 200px;
  margin-bottom: 10px;
  border-radius: 3%;
}
.second {
  height: 200px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.secondone{
  background-color: #fc5305;
  height: 100%;
  width: 49%;
  border-radius: 5%;
}

img{
  color: black;
}

.secondtwo {
  background-color: red;
  height: 100%;
  border-radius: 5%;
  width: 49%;
}

footer {
  color: black;
  font-size: 18px;
  width: 96%;
  border-bottom-right-radius: 30%;
  padding-left: 3%;
  margin-left: 2px;
  margin-bottom: -18px;
  text-align: center;
}
